<h1>Bienvendo a la vista principal</h1><br><h5>Sobre este panel se iran desplegando el resto de las vistas de la aplicación. Utiliza el menu situado a la izquierda para navegar entre las distintas funcionalidades.</h5></br>

