body{
  margin: 0;
  padding: 0;   
}
.contenedor {
  border-style: none;
  margin: 0;
  padding: 0;
  background: url(../images/portada.png);
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
 .cont-login {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .cont-login .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .cont-login h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .cont-login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .cont-login input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .cont-login input[type="email"], .cont-login input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .cont-login button {
    border: none;
    outline: none;
    height: 40px;
    width: 263px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .cont-login input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  
  
  .cont-login a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: darkgrey;
  }
  
  .cont-login button:hover {
    color: #fff;
    cursor: pointer;
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  #degradado {
    height:100vh;
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
  /*Sidebar*/
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 150; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: auto; 
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
  color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

  .maincontainer {
    position: absolute;
    height: fit-content;
    top: 100px;
    left: 450px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
} 
  
  
 
  

