<!-- Footer -->
        <footer class="footer">
            <div class="page-footer">
                <link rel="stylesheet" href="css/estilos.css">
                <h1>Author:</h1>
                <div class="site-footer text-center py-3">Danel Lorente -
                        <a href="https://www.google.es/">d.lorente@opendeusto.es</a>
                </div>
            </div>
        </footer>
<!-- Footer -->