<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <h1 class="navbar-brand col-sm-3 col-md-3 mr-0" >Home Automation Project</h1>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div class="container-logout">
                    <input type="button" value="Logout">
                </div>
            </li>
        </ul>
</nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-3 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="smartphone"></span>
                            Sensores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="activity"></span>
                            Monitorización
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Usuarios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="settings"></span>
                                Configuración
                            </a>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>     
        <script>
            feather.replace()
        </script>