<div class="container-fluid">
            <div class="row">
                <nav class="col-md-3 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/sensores">
                            <span data-feather="smartphone"></span>
                            Sensores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tiemporeal">
                            <span data-feather="clock"></span>
                            Tiempo Real
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/moni">
                            <span data-feather="activity"></span>
                            Monitorización
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/config">
                                <span data-feather="settings"></span>
                                Configuración
                            </a>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>     

        
        <script>
            feather.replace()
        </script>
</div>